extends layout

block page_title 
  title Αυτή είναι η σελίδα τίτλου

block greeting
  h1 γεια σου κόσμε
      
block software_engineer
  p Θα γίνω μηχανικός λογισμικού σύντομα
  img(src="/images/earth.jpg" 
      alt="The Earth" 
      title="The Earth")